<h1>一覧</h1>
<% @sites.each do |s| %>
<p>
    <strong>タイトル:</strong>
    <%= s.title %>
</p>
<p>
    <strong>アドレス</strong>
    <%= s.address %>
</p>
<p>
      <strong>紹介文</strong>  
    <%= s.introduction %>
</p>
<% end %>

<%= link_to  "作成する", new_site_path %>